body{
    padding: 0;
    margin: 0;
}
.myChartWrapper{
   width: 700px;
   height: 700px;
   position: absolute;
   padding: 30px;
   box-sizing: border-box;
   border: solid 2px black;
   margin: 40px;
}
.btn{
   float: right;
   margin: 20px;
   padding: 10px;
}
.dropdown{
   float:right;
}

.dropbtn {
    margin: 20px;
    padding: 10px;
}

.dropbtn:hover, .dropbtn:focus {
 background-color: #9caab3;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.dataInput{
    float: right;
   margin: 20px;
   box-sizing: border-box;
}

.dataInput input{
    width: 400px;
    height: 35px;
    line-height: 35px;
    font-size: 20px;
}